<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Family Members</title>
  <%= stylesheet_link_tag "scaffold", "depot", :media => "all" %>
</head>
<body id="admin">
  <div id="banner">
    Welcome to Juan's BEC Life!
  </div>
  <div id="side">
    <p>
      <%= link_to 'Index', :controller => 'posts' %>
    </p>
    <p>
      <%= link_to "My Bolg",   :controller => 'posts', :action => 'person', :id => 0 %>
    </p>
    <p>
      <%= link_to "List users", :controller => 'users', :action => 'list' %>
      <br/>
      <%= link_to "Add user",   :controller => 'users', :action => 'add' %>
    </p>
    <p>
      <%= link_to "Logout",     :controller => 'users', :action => 'logout' %>
    </p>
  </div>
  <div id="main">
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
    <%= yield :layout %>
  </div>
</body>
</html>
