  <!-- Skin CSS file -->
  <link rel="stylesheet" type="text/css" href="/yui/assets/skins/sam/skin.css">

  <!-- Utility Dependencies -->
  <script type="text/javascript" src="/yui/yahoo-dom-event/yahoo-dom-event.js"></script>
  <script type="text/javascript" src="/yui/element/element-min.js"></script>
  <script type="text/javascript" src="/yui/event/event-min.js"></script>
  <script type="text/javascript" src="/yui/connection/connection-min.js"></script>

  <!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
  <script src="/yui/container/container_core-min.js"></script>
  <script src="/yui/menu/menu-min.js"></script>
  <script src="/yui/button/button-min.js"></script>

  <!-- Source file for Rich Text Editor-->
  <script src="/yui/editor/editor-min.js"></script>

  <script type="text/javascript">

(function() {
    var Dom = YAHOO.util.Dom,
        Event = YAHOO.util.Event;

    var myConfig = {
        height: '300px',
        width: '600px',
        animate: true,
        dompath: true
    };

    YAHOO.log('Create the Editor..', 'info', 'example');
    var myEditor = new YAHOO.widget.Editor('post_body', myConfig);
    myEditor.render();

    YAHOO.log('Create Button Control (#toggleEditor)', 'info', 'example');
    Event.on('post_submit', 'click', function(ev) {
        YAHOO.log('Button clicked, initiate transaction', 'info', 'example');
        Event.stopEvent(ev);
        myEditor.saveHTML();
        Dom.get('new_post').submit();
    });

})();

</script>

<h1>New post</h1>

<body class="yui-skin-sam">
<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.select :category, Post::CATEGORIES %>
  </p>
  <p>
    <%= f.label :privacy %><br />
    <%= f.select :privacy, Post::PRIVACIES %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>
</body>