  <!-- YUI Rich Editor -->
  <%= stylesheet_link_tag '/yui/assets/skins/sam/skin' %>
  <%= javascript_include_tag '/yui/yahoo-dom-event/yahoo-dom-event', \
                             '/yui/element/element-min',\
                             '/yui/event/event-min',\
                             '/yui/connection/connection-min',\
                             '/yui/container/container_core-min',\
                             '/yui/menu/menu-min',\
                             '/yui/button/button-min',\
                             '/yui/editor/editor-min',\
                             :cache => 'yui-editor' %>

  <script type="text/javascript">

(function() {
    var Dom = YAHOO.util.Dom,
        Event = YAHOO.util.Event;

    var myConfig = {
        height: '300px',
        width: '600px',
        animate: true,
        dompath: true
    };

    YAHOO.log('Create the Editor..', 'info', 'example');
    var myEditor = new YAHOO.widget.Editor('post_body', myConfig);
    myEditor.render();

    YAHOO.log('Create Button Control (#toggleEditor)', 'info', 'example');
    Event.on('post_submit', 'click', function(ev) {
        YAHOO.log('Button clicked, initiate transaction', 'info', 'example');
        Event.stopEvent(ev);
        myEditor.saveHTML();
        Dom.get('new_post').submit();
    });

})();

</script>

<h1>New post</h1>

<div class="yui-skin-sam">
<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.select :category, Post::CATEGORIES %>
  </p>
  <p>
    <%= f.label :privacy %><br />
    <%= f.select :privacy, Post::PRIVACIES %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>
</div>