  <!-- YUI Rich Editor -->
  <%= stylesheet_link_tag '/yui/assets/skins/sam/skin' %>
  <%= javascript_include_tag '/yui/yahoo-dom-event/yahoo-dom-event', \
                             '/yui/element/element-min',\
                             '/yui/event/event-min',\
                             '/yui/connection/connection-min',\
                             '/yui/container/container_core-min',\
                             '/yui/menu/menu-min',\
                             '/yui/button/button-min',\
                             '/yui/editor/editor-min',\
                             :cache => 'yui-editor' %>

  <script type="text/javascript">

(function() {
    var Dom = YAHOO.util.Dom,
        Event = YAHOO.util.Event;

    var myConfig = {
        height: '300px',
        width: '600px',
        animate: true,
        dompath: true
    };

    YAHOO.log('Create the Editor..', 'info', 'example');
    var myEditor = new YAHOO.widget.Editor('comment_body', myConfig);
    myEditor.render();

    YAHOO.log('Create Button Control (#toggleEditor)', 'info', 'example');
    Event.on('comment_submit', 'click', function(ev) {
        YAHOO.log('Button clicked, initiate transaction', 'info', 'example');
        Event.stopEvent(ev);
        myEditor.saveHTML();
        Dom.get('new_comment').submit();
    });

})();

</script>

<body class="yui-skin-sam">
  <%= render :partial => @post %>
  <p>
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Destroy', @post, :method => :delete, :confirm => "Are you sure?" %> |
    <%= link_to 'See All My Posts', :action => 'person', :id => session[:user_id] %>
  </p>

  <h2>Comments</h2>

  <%= button_to_function "Add Comment", "Effect.BlindDown('div_comment');$('add_comment').hide();", :id => "add_comment" %>
  
  <div id="div_comment" style="display:none;">

    <%= button_to_function "Discard", "$('div_comment').hide();$('add_comment').show();", :id => "discard_comment" %><br/>
    
    <% remote_form_for [@post, Comment.new] do |f| %>
      <p>
         <%= f.text_area :body %>
      </p>
      <p>
        <%= f.submit "Submit" %>
      </p>
    <% end %>
  </div>
  
  <div id="comments">
    <%= render :partial => @post.comments %>
  </div>
</body>